<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--设置上下文名称-->
	<contextName>mybatis</contextName>

	<!-- 文件路径 -->
	<property name="LOG_PATH" value="../logs/"/>
	<property name="LOG_NAME" value="visual"/>
	<!-- 控制台输出 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--//打印error-->
		<!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
			<!--<level>ERROR</level>-->
		<!--</filter>-->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/${LOG_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="com.aiam.visual" level="DEBUG" />

	<!--log4jdbc -->
	<logger name="jdbc.sqltiming" level="INFO"/>
	<logger name="jdbc.resultset" level="ERROR"/>
	<logger name="jdbc.audit" level="ERROR"/>
	<!--log4jdbc -->
	<logger name="org.springframeword" level="INFO"/>

	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>